<?xml version="1.0" encoding="ISO-8859-1" ?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <display-name>Clock Application</display-name>
    <description>
        This is a simple web application with a source code organization
        based on the recommendations of the Application Developer's Guide.
        Show current DateTime by Date();
    </description>

    <servlet>
        <servlet-name>ClockServlet</servlet-name>
        <servlet-class>ua.goit.servlets.ClockServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>ua.goit.servlets.HelloServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ClockServlet</servlet-name>
        <url-pattern>/clock</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>


    <servlet>
        <servlet-name>ServletLifecycle</servlet-name>
        <servlet-class>ua.goit.servlets.ServletLifecycleExample</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ServletLifecycle</servlet-name>
        <url-pattern>/hellobutton</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>homework</servlet-name>
        <servlet-class>ua.goit.servlets.homework.MyTodoList</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>homework</servlet-name>
        <url-pattern>/homework</url-pattern>
    </servlet-mapping>

</web-app>